@page
@model atividadehj.Views.Agencia.IndexModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <style>
        table {
          border-collapse: collapse;
          width: 768px;
          margin-top: 10px;
        }

        th, td {
          border: 1px solid #ccc;
          padding: 8px;
        }
    </style>
</head>
<body>

    <input type="number" id="codigo" placeholder="Código">
    <input type="text" id="descricao" placeholder="Descrição">
    <input type="text" id="cidade" placeholder="Cidade">
    <input type="text" id="estado" placeholder="Estado">
    <button onclick="adicionar()">Adicionar</button>

    <table id="tabela">
        <tr>
            <th>Código</th>
            <th>Descrição</th>
            <th>Cidade</th>
            <th>Estado</th>
        </tr>
    </table>

    <script>
        function adicionar() {
          const codigo = document.getElementById("codigo").value;
          const descricao = document.getElementById("descricao").value;
          const cidade = document.getElementById("cidade").value;
          const estado = document.getElementById("estado").value;

          // cria a linha
          const linha = document.createElement("tr");

          // cria células
          const colunaCodigo = document.createElement("td");
          colunaCodigo.textContent = codigo;

          const colunaDescricao = document.createElement("td");
          colunaDescricao.textContent = descricao;

          const colunaCidade = document.createElement("td");
          colunaCidade.textContent = cidade;

          const colunaEstado = document.createElement("td");
          colunaEstado.textContent = estado;

          // adiciona células na linha
          linha.appendChild(colunaCodigo);
          linha.appendChild(colunaDescricao);
          linha.appendChild(colunaCidade);
          linha.appendChild(colunaEstado);

          // adiciona linha na tabela
          document.getElementById("tabela").appendChild(linha);

          // limpa inputs
          document.getElementById("codigo").value = "";
          document.getElementById("descricao").value = "";
          document.getElementById("cidade").value = "";
          document.getElementById("estado").value = "";
        }
    </script>

</body>
</html>